@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar-brand {
  font-size: 26px;
  font-family: "Montserrat";
  font-weight: 700;
}

.navbar {
  position: relative;
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 9, 9, 0.1);
}

.navbar-nav {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
}

.nav-link1 {
  width: 100px;
}

.nav-link2 {
  width: 120px;
}

.nav-link3 {
  width: 80px;
}

.nav-link4 {
  width: 120px;
}

/* Akhir Navbar */

/* Dashboard Text */
.textheader {
  font-size: 60px;
  font-weight: 200;
  font-family: "Raleway";
}

.textheader2 {
  font-size: 63px;
  font-weight: 700;
  font-family: "Montserrat";
}

.dashboardpic {
  margin-top: 20px;
  width: 900px;
  height: 550px;
  margin-left: 50px;
}

.text {
  padding-top: 30px;
  font-size: 18px;
}
/* Akhir Dashboard Text */

.dashpic {
  height: 500px;
  width: 500px;
}

.btn {
  border-radius: 50px;
  color: black;
}

.reg {
  float: left;
  width: 500px;
  margin-top: 50px;
}

.pic {
  height: 600px;
  width: 600px;
  display: flex;
  padding-top: 20px;
}
